html, body {
    background-color:#333;
    font-family:'Josefin Sans', sans-serif;
    height:100%;
    margin:0;
    min-height:100%;
    padding:0;
    position:relative;
    width:100%;
}
h1 {
    color:rgba(24,221,0,1);
    color:rgba(47,181,243,1);
    left:50%;
    margin-left:-200px;
    position:absolute;
    text-align:center;
    top:0;
    width:400px;
    z-index:42;
}

#gameWrapper {
    background-color:#000;
    height:100%;
    left:0;
    position:absolute;
    top:0;
    width:100%;
    z-index:1;
}

#game {
    height:100%;
    width:100%;
}

#HUD {
    bottom:10px;
    color:white;
    left:10px;
    position:absolute;
    z-index:45;
}

#coins {
    color:rgba(24,221,0,1);
    height:50px;
    left:50%;
    margin:-100px;
    margin-top:100px;
    position:absolute;
    text-align:right;
    top:50%;
    width:200px;
}
#healthWrapper {
    background-color:#666;
    height:4px;
    left:50%;
    margin:-100px;
    margin-top:106px;
    position:absolute;
    text-align:right;
    top:50%;
    width:100px;
}
#healthBar {
    background-color:rgba(24,221,0,1);
    height:100%;
    transition:width 300ms;
    width:0%;
}

#killScreen {
    background-color:#333;
    color: rgba(24,221,0,1);
    height:0;
    left: 50%;
    margin: -100px;
    margin-top: -50px;
    overflow:hidden;
    position: absolute;
    text-align: center;
    transition:height 300ms;
    top: 50%;
    width: 200px;
}
#killScreen button {
    background-color:rgba(47,181,243,1);
    border-radius:0;
    border-width:0;
    color:#000;
    cursor:pointer;
    font-weight: bold;
    padding: 5px 20px;
}
#killScreen button:hover {
    text-decoration:underline;
}
body[data-kill-screen="true"] #killScreen {
    height: 100px;
}

footer {
    bottom:0;
    margin:0;
    padding:0;
    position:absolute;
    right:0;
}
footer p {
    margin:5px;
    padding:5px;
}
footer p a {
    color:aquamarine;
    color:rgba(47,181,243,1);
}